@import "~vue-advanced-cropper/dist/style.css";
.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)
	> .v-input__control
	> .v-input__slot
	fieldset {
	color: rgba(0, 0, 0, 0.155) !important;
}
.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
    border-color: rgba(0, 0, 0, 0.155) !important;
}
html {
  overflow: auto !important;
}
body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
// .theme--light.v-app-bar.v-toolbar.v-sheet {
// 	background-color: #ffffff !important;
// 	border-bottom: 1px solid #DFE3E8;
// }
.theme--light.v-application {
	background: #f9f9f9 !important;
}
.theme--dark.v-navigation-drawer {
	background-color: #1e1e1e !important;
}
.v-snack__content pre {
  font-family: "Roboto" !important;
}
.custom-link {
	cursor: pointer;
	color: var(--v-primary-base) !important;
	font-weight: 400 !important;
	text-decoration: none;
	letter-spacing: 0.5px;
}
.custom-link:hover {
	color: var(--v-linkhover-base) !important;
	text-decoration: underline;
	
}
